@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
  overscroll-behavior: none;
}

a {
  color: rgb(148, 166, 255);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article {
  margin-top: 10px;
  max-width: 1000px;
  margin-bottom: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1000px) {
  article {
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  article {
    min-width: 900px;
    max-width: 900px;
  }
}

.markdown-content h1 {
  @apply text-3xl font-bold mt-10 mb-4;
}

.markdown-content h2 {
  @apply text-2xl font-bold mt-8 mb-3;
}

.markdown-content h3 {
  @apply text-xl font-bold mt-6 mb-2;
}

.markdown-content h4 {
  @apply text-lg font-bold mt-6 mb-2;
}

.markdown-content h5 {
  @apply text-base font-bold mt-2 mb-1;
}

.markdown-content h6 {
  @apply text-sm font-bold mt-2 mb-1;
}

.markdown-content img {
  @apply mt-8 mb-8;
}