html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
  overscroll-behavior: none;
}

a {
  color: rgb(148, 166, 255);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article {
  margin-top: 10px;
  max-width: 1000px;
  margin-bottom: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1000px) {
  article {
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  article {
    min-width: 900px;
    max-width: 900px;
  }
}