html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
}

a {
  color: rgb(148, 166, 255);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article {
  width: 95%;
  margin-top: 10px;
  max-width: 800px;
  margin-bottom: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
}