.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.pagecontainer {
  min-width: 100%;
  flex-grow: 1;
}
.page {
  padding: 5rem 0rem 2rem 0rem;
  margin: 0 auto 0;
  flex-grow: 1;
}
.mainpage {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer2 {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.footerImage {
  height: 55px;
  border: 5px solid #ccc;
  border-radius: 100px;
  margin: 15px;
}

.footer div {
  display: flex;
  flex: 1;
}
.footer div:nth-child(2) {
  justify-content: center;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .footer {
    display: block;
  }
  .footer div:first-child {
    justify-content: center;
  }
  .footer div:last-child {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer div:first-child {
    margin-left: 10px;
    justify-content: flex-start;
  }
  .footer div:last-child {
    margin-right: 15px;
    justify-content: flex-end;
  }
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 1;
}

.navleft {
  display: flex;
  width: 100%;
  justify-content: left;
}

.navright {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 30px;
}

.navright p {
  font-size: 20px;
}

.logo {
  height: 55px;
  padding: 10px;
  border-radius: 20px;
}

.title {
  color: #fff;
  white-space: nowrap;
  font-size: 25px; 
  font-weight: bold;
}
.title:hover {
  color: #aaa;
}

.rowitem {
  color:#fff;
  white-space: nowrap;
  font-weight: medium;
  height: 60px;
  font-size: 30px;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  margin: 0;
  padding-left: 30px;
}
.rowitem:hover {
  color: #aaa;
}

.dropbutton {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .rowitem {
    display: none;
  }
  .rowitem:hover {
    display: none;
  }

  .dropbutton {
    display: flex;
    width: 25px;
    height: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.dropdown {
  position: relative;
  float: right;
}

.dropdowncontent {
  display: none;
  right: 0;
  position: absolute;
  font: 'Helvetica';
  background-color: #777d;
  border-radius: 20px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdowncontent a {
  color: #fff;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

.dropdowncontent a:hover {
  color: #aaa;
}

.dropdown:hover .dropdowncontent {display: block;}