.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0,147,119,1);
}

.page {
  max-width: 56rem;
  padding: 5rem 1rem;
  margin: 0 auto 0;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: -90px;
}

.subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: -20px;
}

.headerImage {
  width: 10rem;
  height: 10rem;
}

.emojihead {
  display: flex;
  justify-content: center;
  width: 100%;
}
.emojihead p {
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  text-shadow: 3px 3px 3px rgba(20,20,20,0.4);
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 45rem) {
  .emojihead p {
    opacity: 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}
.footer2 {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.footer div {
  display: flex;
  flex: 1;
}

.footer div:first-child {
  justify-content: flex-start;
}

.footer div:nth-child(2) {
  width: 100%;
  justify-content: center;
  text-align: center;
  display: block;
}
@media only screen and (max-width: 1200px) {
  .footer div:nth-child(2) {
    max-width: 0;
    opacity: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer2 {
    display: none;
  }
}

.footer div:last-child {
  justify-content: flex-end;
}

.footerImage {
  height: 55px;
  border: 5px solid #efefef;
  border-radius: 100px;
  margin: 15px;
}

.borderCircle {
  border-radius: 9999px;
  border: 5px solid #efefef;
  box-shadow: 5px 5px 5px 5px rgba(20,20,20,0.2);
}


.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 1;
}

.navleft {
  display: flex;
  width: 100%;
  justify-content: left;
}

.navright {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 30px;
}

.navright p {
  font-size: 20px;
}

.logo {
  height: 55px;
  padding: 10px;
  border-radius: 20px;
}

.title {
  color: #fff;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 500;
}
.title:hover {
  color: #aaa;
}

.rowitem {
  color:#fff;
  white-space: nowrap;
  font-weight: medium;
  height: 60px;
  font-size: 30px;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  margin: 0;
  padding-left: 30px;
}
.rowitem:hover {
  color: #aaa;
}

.dropbutton {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .rowitem {
    display: none;
  }
  .rowitem:hover {
    display: none;
  }

  .dropbutton {
    display: flex;
    width: 25px;
    height: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.dropdown {
  position: relative;
  float: right;
}

.dropdowncontent {
  display: none;
  right: 0;
  position: absolute;
  font: 'Helvetica';
  background-color: #777d;
  font-weight: 500;
  border-radius: 20px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdowncontent a {
  color: #fff;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

.dropdowncontent a:hover {
  color: #aaa;
}

.dropdown:hover .dropdowncontent {display: block;}